---
---
@import "{{ site.theme }}";
$header-heading-color: #fff !default;
$header-bg-color: #fff;
$header-bg-color-secondary: #fff;
// .page-header {
//   color: #ffff !important;
//   background-color: #A067AB !important;
//   background-image: linear-gradient(120deg, #5073B8, #A067AB) !important;
// }
// .main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
//   color: #131313 !important;
// }
